<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Resume of {{name}} - {{summary.title}}</title>

    <link href="html.css" rel="stylesheet" />
</head>

<body>
    <header>
        <span class="name">{{name}}</span>
        <span class="linkedin">&lt;{{getProfileUrl profiles 'linkedin'}}&gt;</span>
    </header>

    <hr />

    <section>
        {{#with summary}}
        <h2>{{title}}</h2>

        <div id="recap">
            {{recap}}
        </div>

        <h2>Qualifications Summary</h2>
        <table class="qualifications">
            <tbody>
                <tr>
                    <td>{{#each qualifications}}&FilledSmallSquare;&nbsp;{{.}}<br />{{colbreak @index}}{{/each}}</td>
                </tr>
            </tbody>
        </table>
        {{/with}}

        <h2>Professional Experience</h2>
        {{#each experience}}
        <div><span class="company">{{company}}</span>&nbsp;({{positions.[0].location}})</div>
        {{#each positions}}
        <table class="positions">
            <tbody>
                <tr>
                    <td><span class="title">{{title}}</span>{{#if
                        team}},&nbsp;<span class="team">{{team}}</span>{{/if}}</td>
                    <td class="position_duration">{{dateRange from to}}</td>
                </tr>
                {{#each responsibilities}}
                <tr class="responsibility">
                    <td colspan="2">&FilledSmallSquare;&nbsp;{{.}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/each}}
        {{/each}}

        <h2>Awards, Accomplishments, Certifications</h2>
        <ul>
            {{#each awards}}
            <li><span class="issuer">{{from}}</span>:&nbsp;{{description}}&nbsp;({{date when}})</li>
            {{/each}}
            {{#each certifications}}
            {{#if from}}
            <li><span class="issuer">{{issuer}}</span>:&nbsp;{{title}}&nbsp;({{date from}}{{#if
                to}}&nbsp;to&nbsp;{{date to}}{{/if}})
            </li>
            {{/if}}
            {{/each}}
            {{#each publications}}
            <li><span class="issuer">{{journal}}</span>:&nbsp;{{description}},&nbsp;<a href="{{url}}"
                    target="_new">{{citation}}</a>&nbsp;({{date when}})</li>
            {{/each}}
        </ul>

        <h2>Technical Skills</h2>
        <ul>
            <li><span class="skill_category">Concepts:</span>&nbsp;{{#join skills.concepts}}{{.}}{{/join}}</li>
            <li><span class="skill_category">Applications:</span>&nbsp;{{#join skills.applications}}{{.}}{{/join}}
            </li>
            <li><span class="skill_category">Platforms:</span>&nbsp;{{#join skills.platforms}}{{.}}{{/join}}</li>
            <li><span class="skill_category">Databases:</span>&nbsp;{{#join skills.databases}}{{.}}{{/join}}</li>
            <li><span class="skill_category">Programming:</span>&nbsp;{{#join skills.programming}}{{.}}{{/join}}
            </li>
            <li><span class="skill_category">Operating&nbsp;Systems:</span>&nbsp;{{#join skills.os}}{{.}}{{/join}}
            </li>
        </ul>

        <h2>Education</h2>
        {{#each education}}
        <div><span class="school">{{school}}</span>&nbsp;({{location}})</div>
        <table class="degrees">
            <tbody>
                <tr>
                    <td><span class="degree">{{degree}}</span>{{#if
                        subject}},&nbsp;<span class="subject">{{subject}}</span>{{/if}}</td>
                    <td class="degree_duration">{{dateRange from to}}</td>
                </tr>
            </tbody>
        </table>
        {{/each}}
    </section>
</body>

</html>